@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: local("Comfortaa-Bold"), url(/Comfortaa-Bold.ttf) format("truetype");
}
